---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection, type CollectionEntry } from "astro:content";

const posts: CollectionEntry<"blog">[] = (await getCollection("blog"))
  .filter((post: CollectionEntry<"blog">) => !post.data.draft)
  .sort(
    (a: CollectionEntry<"blog">, b: CollectionEntry<"blog">) =>
      b.data.date.getTime() - a.data.date.getTime()
  );
---

<BaseLayout title="Blog | Taylor Heathcote" currentPage="blog">
  <section class="panel blog-intro-panel">
    <p class="eyebrow">Taylor's Blog</p>
    <h3>Thoughts, updates, and works in progress.</h3>
    <p class="lead">
      This page collects blog posts, development notes, reflections, updates,
      and other longer-form writing as the site grows.
    </p>
  </section>

  <section class="panel blog-list-panel">
    <div class="blog-list-header">
     <h2>Recent Posts</h2>
     <p>{posts.length} posts found</p>
    </div>

    <div class="blog-list-grid">
      {posts.map((post: CollectionEntry<"blog">) => (
        <article class="blog-post-card">
          <div class="blog-post-thumb">
            <img src={post.data.thumbnail} alt={post.data.title} />
          </div>

          <div class="blog-post-copy">
            <p class="blog-post-date">
              {post.data.date.toLocaleDateString("en-GB", {
                day: "numeric",
                month: "long",
                year: "numeric",
              })}
            </p>

            <h3>{post.data.title}</h3>
            <p>{post.data.description}</p>
          </div>

          <div class="blog-post-actions">
            <a href={`/blog/${post.id}`} class="button button-primary">Read</a>
          </div>
        </article>
      ))}
    </div>
  </section>
</BaseLayout>